@import "../styles/mixins.scss";

#controlbar {
	padding: 5px;
	background-color: rgba(44, 58, 71, 0.3);
	width: 60%;
	margin: 7px;
	margin-bottom: 8px;
	border-radius: 10px;
	backdrop-filter: blur(50px);
	-webkit-app-region: no-drag;
}

#controlbar .active {
	background-color: rgba(13, 110, 253, 0.8);
	backdrop-filter: blur(6px);
}

body {
	background-color: #080d1400 !important;
	color: #ffffff !important;
}

main {
	margin-top: 5rem;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
input,
button,
textarea,
:focus {
	outline: none;
}

a:not([draggable="true"]),
img:not([draggable="true"]) {
	-webkit-user-drag: none;
	user-drag: none;
}
a[href^="http://"],
  a[href^="https://"],
  a[href^="ftp://"]
{
	-webkit-user-drag: auto;
	user-drag: auto;
}

#topbar {
	background-color: #060a0f3f;
	backdrop-filter: brightness(5%);
	width: 100%;
	position: fixed;
	top: 0;
	// overflow: hidden;
	z-index: 1000;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	-webkit-app-region: drag;
}

#spacerTitle {
	width: 0.5rem;
}

#titlebarlogo {
	max-width: 3rem;
	max-height: 3rem;
	position: absolute;
	left: 0;
	margin: 1rem;
}

#titlebarcontrols {
	display: flex;
	flex-direction: row;
	-webkit-app-region: no-drag;
	justify-content: center;
	justify-items: center;
	align-items: center;

	opacity: 70%;
}

#minimisewindowimage {
	width: 2rem;
	filter: invert(31%) sepia(98%) saturate(2837%) hue-rotate(207deg) brightness(99%) contrast(100%);
}

#minimisewindowimage:hover {
	filter: invert(57%) sepia(83%) saturate(1878%) hue-rotate(194deg) brightness(108%) contrast(99%);
	transition: filter ease-in-out 0.2s;
}

#closewindowimage {
	width: 2.5rem;
	color: rgb(13, 71, 158);
	filter: invert(31%) sepia(98%) saturate(2837%) hue-rotate(207deg) brightness(99%) contrast(100%);
	padding: 0.5rem;
	transition: filter ease-in-out 0.2s;
}

#killAppImage {
	width: 2rem;
	color: rgb(13, 71, 158);
	filter: invert(31%) sepia(98%) saturate(2837%) hue-rotate(207deg) brightness(99%) contrast(100%);
	padding: 0.05rem;
	margin-left: 7px;
	transition: filter ease-in-out 0.2s;
}

#killAppImage:hover {
	filter: invert(57%) sepia(83%) saturate(1878%) hue-rotate(194deg) brightness(108%) contrast(99%);
}

#closewindowimage:hover {
	filter: invert(57%) sepia(83%) saturate(1878%) hue-rotate(194deg) brightness(108%) contrast(99%);
}

#titlebarcontrols {
	right: 0;
	position: absolute;
	padding: 1rem;
}

.card,
.form-control,
.form-select {
	background-color: #060a0f3f;
}

.dl-list {
	position: fixed;
	left: 85px;
	top: 18px;
	z-index: 1001;

	@include flex-center;

	.svg-wrapper {
		height: 2rem;
		width: 2rem;
		z-index: 100;
		filter: brightness(100%);
		transition: filter 150ms ease-in-out;

		&:hover {
			filter: brightness(80%);
		}
	}

	svg {
		height: 2rem;
		width: 2rem;
	}

	&::after {
		content: "";
		border-top: 1px solid var(--bs-primary);
		border-radius: 100%;
		width: 45px;
		height: 45px;
		z-index: 1;
		position: absolute;
		top: -5px;
		left: -7px;
		animation: spin 2s linear infinite;
	}

	.svg-primary {
		filter: invert(41%) sepia(92%) saturate(4359%) hue-rotate(206deg) brightness(96%) contrast(108%);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

main {
	z-index: 1;
}
