@import "../../styles/mixins.scss";

.loading-container {
	@include flex-center;
	height: 50vh;
}

.theme-collect {
	text-align: left;

	h1 {
		margin-bottom: 0.1rem;
	}

	h3 {
		margin-bottom: 1rem;
	}

	margin-bottom: 1rem;
}

.info-content {
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 2rem;

	display: flex;
	flex-direction: row;
}

.preview-card {
	// float: right;
	display: flex;
	flex-direction: column;
	// max-width: 12rem;
	// width: 12rem;
	// max-height: 12rem;
	margin-top: 0.75rem;

	margin-left: auto;

	.preview-image {
		width: 18rem;
		height: 18rem;
		border-radius: 15px;
	}
}

.dls {
	margin-left: auto;
	margin-right: 5rem;
}

.btn-group {
	margin-top: 1rem;
	// margin-left: auto;
	// margin-right: 5rem;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 8rem;
		height: 4rem;
		// text-align: center !important;

		&:hover {
			svg {
				filter: invert(100%);
			}
		}

		svg {
			position: relative;
			right: 4px;
			top: 1px;

			width: 2rem;
			height: 2rem;

			transition: 100ms filter ease-in-out;
		}
		.svg-primary {
			filter: invert(41%) sepia(92%) saturate(4359%) hue-rotate(206deg) brightness(96%)
				contrast(108%);
		}

		.svg-success {
			filter: invert(42%) sepia(14%) saturate(2131%) hue-rotate(100deg) brightness(94%)
				contrast(89%);
		}

		.svg-danger {
			filter: invert(40%) sepia(75%) saturate(1860%) hue-rotate(326deg) brightness(82%)
				contrast(115%);
		}
	}
}

.controllable {
	margin-top: 1rem;
	margin-left: 10rem;
	margin-right: 10rem;
	margin-bottom: 1rem;
}