/* TODO: Make the UI not look like shit */

html {
  overflow: hidden;
}

.btn {
  margin: 4px;
}

#scrollContainer {
  overflow-y: auto;
  max-height: 100vh;
  padding: 15px;
  padding-top: 4.5rem;
}

#scrollContainer::-webkit-scrollbar {
  width: 0.5em;
}

#scrollContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#scrollContainer::-webkit-scrollbar-thumb {
  background-color: rgba(107, 107, 107, 0.719);
  border-radius: 20px;
}

#maindiv {
  height: 100%;
  min-height: 100%;
}

.col-container {
  display: table;
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.col {
  display: table-cell;
  min-height: 100%;
  height: 100%;
}

.sensorPicker {
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 10px;
  border: 1px solid var(--bs-secondary-bg);
  margin-bottom: 1rem;
}

.btn-group button {
  margin-left: 0px;
  margin-right: 0px;
}

#smaller {
  max-width: 30%;
  width: 30%;
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--bs-secondary-bg);
  text-align: center;
  vertical-align: middle;
}

#larger {
  max-width: 70%;
  width: 70%;
}

.card {
  margin: 10px;
}

#preview {
  margin: 3px;
  margin-top: 6px;
  max-width: 15rem;
  max-height: 15rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 {
  text-align: right;
}

.full .clr-field button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
