.col-container {
    display: table;
    width: 100%;
    min-height: 100%;
    height: 100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
  
.col {
    display: table-cell;
    min-height: 100%;
    height: 100%;
}

#smaller {
    max-width: 30%;
    width: 30%;
    outline-style: solid;
    outline-width:1px;
    outline-color: var(--bs-secondary-bg);
    text-align: center;
    vertical-align: middle;
    /* overflow-y: hidden; */
}

#zefirCard {
    float: right;
    margin-left: 1rem;
}

#larger {
    max-width: 70%;
    width:70%;
    padding: 15px;
    /* overflow-y: hidden; */
}

#version {
    float: right;
    margin-top: 0.5rem;
}

.actualSettings {
    /* overflow-y: scroll; */
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 4.5rem;
}

#logo {
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
}

h2 {
    vertical-align: middle;
}

body::-webkit-scrollbar {
    width: 0.5em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: rgba(107, 107, 107, 0.719);
    border-radius: 20px;
}