#controlbar {
    padding: 5px;
    background-color: rgba(52, 58, 64, 0.3);
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px;
    margin-bottom: 8px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

#controlbar .active {
    background-color: rgba(13, 110, 253, 0.8);
    backdrop-filter: blur(6px);
}